<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" 
id="WebApp_ID" version="3.1">
  <display-name>toolbox</display-name>
  <servlet>
    <servlet-name>Survey Controller</servlet-name>
    <servlet-class>org.sw.marketing.servlet.SurveyController</servlet-class>
    <init-param>
      <param-name>xslPath</param-name>
      <param-value>C:\\development\\assets\\xsl\\toolbox\\forms\\</param-value>
    </init-param>
    <init-param>
      <param-name>xslUrl</param-name>
      <param-value>http://localhost:8080/xsl/toolbox/forms/</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Survey Controller</servlet-name>
    <url-pattern>/survey</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Self Assessment Controller</servlet-name>
    <servlet-class>org.sw.marketing.servlet.SelfAssessmentController</servlet-class>
    <init-param>
      <param-name>xslPath</param-name>
      <param-value>C:\\development\\assets\\xsl\\toolbox\\forms\\</param-value>
    </init-param>
    <init-param>
      <param-name>xslUrl</param-name>
      <param-value>http://localhost:8080/xsl/toolbox/forms/</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Self Assessment Controller</servlet-name>
    <url-pattern>/selfassessment</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Calendar Admin Controller</servlet-name>
    <servlet-class>org.sw.marketing.servlet.CalendarAdminController</servlet-class>
    <init-param>
      <param-name>xslPath</param-name>
      <param-value>C:\\development\\assets\\xsl\\toolbox\\calendars\\admin\\</param-value>
    </init-param>
    <init-param>
      <param-name>xslUrl</param-name>
      <param-value>http://localhost:8080/xsl/toolbox/calendars/admin/</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Calendar Admin Controller</servlet-name>
    <url-pattern>/calendarAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Calendar Event Image Upload Servlet</servlet-name>
    <servlet-class>org.sw.marketing.servlet.CalendarImageUploadServlet</servlet-class>
    <init-param>
      <param-name>xslPath</param-name>
      <param-value>C:\\development\\assets\\xsl\\toolbox\\calendars\\manage\\</param-value>
    </init-param>
    <init-param>
      <param-name>xslUrl</param-name>
      <param-value>http://localhost:8080/xsl/toolbox/calendars/manage/</param-value>
    </init-param>
    <init-param>
      <param-name>uploadPath</param-name>
      <param-value>C:\\development\\uploads\\calendar\\</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Calendar Event Image Upload Servlet</servlet-name>
    <url-pattern>/calendarEventImageUploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Calendar Content Controller</servlet-name>
    <servlet-class>org.sw.marketing.servlet.CalendarContentController</servlet-class>
    <init-param>
      <param-name>xslPath</param-name>
      <param-value>C:\\development\\assets\\xsl\\toolbox\\calendars\\manage\\</param-value>
    </init-param>
    <init-param>
      <param-name>xslUrl</param-name>
      <param-value>http://localhost:8080/xsl/toolbox/calendars/manage/</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Calendar Content Controller</servlet-name>
    <url-pattern>/calendarContent</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Skin Service Controller</servlet-name>
    <servlet-class>org.sw.marketing.servlet.SkinServiceController</servlet-class>
    <init-param>
      <param-name>xslPath</param-name>
      <param-value>C:\\development\\assets\\xsl\\toolbox\\skins\\</param-value>
    </init-param>
    <init-param>
      <param-name>xslUrl</param-name>
      <param-value>http://localhost:8080/xsl/toolbox/skins/</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Skin Service Controller</servlet-name>
    <url-pattern>/skinService</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>